<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FCMSERPEntities" connectionString="metadata=res://*/FCMSERP.csdl|res://*/FCMSERP.ssdl|res://*/FCMSERP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FCMSERP;user id=sa;password=fr33f00d!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FCMSAPPEntities" connectionString="metadata=res://*/FCMSAPP.csdl|res://*/FCMSAPP.ssdl|res://*/FCMSAPP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FCMSAPP;user id=sa;password=fr33f00d!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>